<div  class=" p-5">
    <div class="container pt-5 pb-5 mt-5 mb-5 bg-white circle">
        <div class="text-center text-dark">
            <h1 class="f_h1">404 Not Found.</h1>
            <h2 class="h_3">指定のページが存在しません</h2>
        </div>
    </div>
</div>
