// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.f_h1{
    font-size:2.5rem;
}
.w-200{
 width:200%;   
}
.page{
    
}
.page > pagination{
    justify-content:left;
}

.main{
    display:flex;
    width:100%;
    justify-content:center;
    padding-left:10%;
    padding-right:10%;
}
.stepbox{
    opacity: 0.9;
    margin-bottom:200px;
    width:60%;
    height:1000px;
}

.stepbox:nth-child(2){
    opacity: 1.0;
    width:30%;
    margin-left:5%;
    display: block;
}
.sidebar{
    width:100%;
    height:400px;
}
.sidebar:nth-child(2){
    margin-top:20px;
    height:500px;
}

#app {
    width: 100%;
    background-image: image-url("heart.jpg");
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center top;
}

#app2{
    background-image: image-url("heart.jpg");
}

.hami{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
li{
    font-family: 'Shippori Mincho', serif;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.font{
    font-family: 'Shippori Mincho', serif;
    font-size:5rem;
}
.bor{
    border-radius: 100vh;
}

.spc{
    display:flex;
}
.spc> div:nth-child(1){
    text-align: right;
    width:50%;
}

.spc> div:nth-child(2){
    text-align: right;
    width:50%;
}

.spc2{
    display:flex;
}
.spc2> div:nth-child(1){
    text-align: left;
    width:20%;
}

.spc2> div:nth-child(2){
    text-align: center;
    width:40%;
}

.spc2> div:nth-child(3){
    text-align: right;
    width:32%;
}
.spc5{
    display:flex;
    font-size: 1.4rem;
}
.spc5> div:nth-child(1){
    text-align: left;
    width:35%;
}

.spc5> div:nth-child(2){
    text-align: center;
    width:35%;
}
.spc5> div:nth-child(3){
    text-align: right;
    width:30%;
}
td{
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#manu{
    width:60%;
    height: 300h;
    background-image:image-url("note.png");
    margin-left: 20%;
    //background-repeat: no-repeat;
    background-size: 100%;
}

.font-note{
    font-family:"ＭＳ Ｐゴシック";
    font-size: 2rem;
}
.font-mini{
    font-family:"ＭＳ Ｐゴシック";
    font-size: 30px;
}
.title{
    font-family:"Arial Black";
}

.circle{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.circle2{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mypage{
  height:600px;  
}

.rec{
    font-size:30px;
    line-height:50px;
    vertical-align: middle;
}



@media screen and (max-width:810px) {
    .w-200{
         width:300%;
    }
    
    .f_h1{
        font-size:1.7rem;
    }
  .main{
      display:block;
  }
  .w-50{
      width:100%;
  }
  .stepbox{
        width:100%;
        margin-bottom:0;
        height:auto;
        margin-bottom:10px;
    }
    .stepbox:nth-child(2){
        width:100%;
        margin: 0;
    }
    #app{
        height:auto;
        background-attachment:fixed;
        background-size: cover;
        background-position:center;
        background-size: auto;
    }
        .sidebar:nth-child(2){
        height:auto;
        padding-bottom:10px;
    }
    .f_h1{
        font-size:1.7rem;
    }
    .social i {
        color: blue;
    }
    .font{
        font-family: 'Shippori Mincho', serif;
        font-size:2rem;
    }
    .h_3{
        font-size: 1.3rem;
    }
    .hami2{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .spc2> div:nth-child(1){
        text-align: left;
        width:0;
    }
    .spc2> div:nth-child(2){
        text-align: left;
        width:60%;
    }
    .spc2> div:nth-child(3){
        text-align: right;
        width:30%;
    }
    .h_4{
        font-size: 0.9rem;
    }
    
    
    .sidebar{
        width:100%;
        height:300px;
        //background-color:blue;
    }
}

/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
    .sidebar{
        width:100%;
        height:300px;
        //background-color:blue;
    }
    .rec{
        font-size: 1rem;
        line-height:50px;
        vertical-align: middle;
    }
    .h_4{
        font-size: 0.7rem;
    }
    .w-200{
         width:400%;
    }
    .f_h1{
        font-size:1.6rem;
    }
    .m_0{
        margin:0;
    }
    #app{
        background-size: 200%;
        background-position:center;
        background-size: auto;
    }
    .main{
        padding-top:5px;
    }
    .social i {
        color: blue;
    }
    .font{
        font-family: 'Shippori Mincho', serif;
        font-size:2rem;
    }
    .stepbox{
        width:100%;
        margin-bottom:0;
        height:auto;
        margin-bottom:10px;
    }
    .stepbox:nth-child(2){
        width:100%;
        margin: 0;
    }
    .sidebar{
    width:100%;
    
    //background-color:blue;
    }
    .sidebar:nth-child(2){
        height:auto;
        padding-bottom:10px;
    }
    .spc5{
        font-size: 0.8rem;
    }
    
    .ml_5{
        margin-left:0;
    }
    .mt_5{
        margin-top:20px;
    }
    .zero{
        font-size:0px;
    }
    .w_90{
        width:80%;
    }
    .w_600{
        width:600%;
    }
    .p_0{
        padding: 0 0 0 0;
    }
    .h_3{
        font-size: 0.9rem;
    }
    .spc2> div:nth-child(1){
        text-align: left;
        width:0;
    }
    .spc2> div:nth-child(2){
        text-align: left;
        width:60%;
    }
    .spc2> div:nth-child(3){
        text-align: center;
        width:30%;
    }
    .btn_lg{
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
    }
    .hami2{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}